/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.SourceDump/bin
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.SourceDump/obj
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Tests/obj
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Tests/bin
