/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.SourceDump/bin
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.SourceDump/obj
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Tests/obj
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Tests/bin
/Lx.Tools/Lx.Tools.Assemblies/Lx.Tools.Assemblies.Compare/bin
/Lx.Tools/Lx.Tools.Assemblies/Lx.Tools.Assemblies.Compare/obj
/Lx.Tools/Lx.Tools.Common/Lx.Tools.Common/bin
/Lx.Tools/Lx.Tools.Common/Lx.Tools.Common/obj
/Lx.Tools/Lx.Tools.Common/Lx.Tools.Common.Tests/obj
/Lx.Tools/Lx.Tools.Common/Lx.Tools.Common.Tests/bin
/Lx.Tools/Lx.Tools.Projects/*.suo
/Lx.Tools/Lx.Tools.Assemblies/packages
/Lx.Tools/Lx.Tools.Projects/packages
/Lx.Tools/Lx.Tools.Assemblies/*.suo
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.SourceDump/*.user
/Lx.Tools/Lx.Tools.Assemblies/Lx.Tools.Assemblies.Tests/bin
/Lx.Tools/Lx.Tools.Assemblies/Lx.Tools.Assemblies.Tests/obj
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Sync/Lx.Tools.Projects.Sync.csproj.user
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Sync/bin
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Sync/obj
/Lx.Tools/Lx.Tools.Projects/OpenCover
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.Tests/Lx.Tools.Projects.Tests.csproj.user
/Lx.Tools/Lx.Tools.Common/Lx.Tools.Common.Tests/Lx.Tools.Common.Tests.csproj.user
/Lx.Tools/Lx.Tools.Common/Lx.Tools.Common/Lx.Tools.Common.csproj.user
/Lx.Tools/Lx.Tools.Projects/Lx.Tools.Projects.sln.DotSettings.user
/Lx.Samples/Lx.Samples.Db/Lx.Samples.Db.MySql.EF/bin
/Lx.Samples/Lx.Samples.Db/Lx.Samples.Db.MySql.EF/obj
/Lx.Samples/Lx.Samples.Db/Lx.Samples.Db.MySql.NH/bin
/Lx.Samples/Lx.Samples.Db/Lx.Samples.Db.MySql.NH/obj
/Lx.Samples/Lx.Samples.Db/packages
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection.Tests/bin
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Scraper/bin
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Scraper/obj
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Scraper/obj
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection.Tests/bin
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection.Tests/obj
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection.Tests/obj
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection/bin
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection/obj
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection/obj
/Lx.Tools/Lx.Tools.Tests/Lx.Tools.Tests.Reflection/bin
/Lx.Samples/Lx.Samples.Framework/Lx.Samples.Framework.Tests/bin
/Lx.Samples/Lx.Samples.Framework/Lx.Samples.Framework.Tests/obj
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Browser/bin
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Browser/obj
/Lx.Samples/Lx.Samples.Db/*.suo
/Lx.Tools/Lx.Tools.Tests/*.suo
*.suo
/packages
*.user
/Lx.Samples/packages
/Lx.Tools/packages
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Awesomium/obj
/Lx.Samples/Lx.Samples.Web/Lx.Samples.Web.Awesomium/bin
/Lx.Web/Lx.Web.Browser.Hap/obj
/Lx.Web/Lx.Web.Browser.Hap/bin
/Lx.Web/Lx.Web.Common/obj
/Lx.Web/Lx.Web.Common/bin
/Lx.Web/Lx.Web.Browser.Asm/bin
/Lx.Web/Lx.Web.Browser.Asm/obj
/Lx.Web/Lx.Web.Browser/bin
/Lx.Web/Lx.Web.Browser/obj
/Lx.Tools/Lx.Tools.Performance/obj
/Lx.Tools/Lx.Tools.Reflection.Performance.Tester/bin
/Lx.Tools/Lx.Tools.Reflection.Performance.Tester/obj
/Lx.Tools/Lx.Tools.Performance/obj
/Lx.Tools/Lx.Tools.Performance/bin
/Lx.Tools/Lx.Tools.Reflection.Tests/obj
/Lx.Tools/Lx.Tools.Reflection.Tests/bin
/Lx.Tools/Lx.Tools.Reflection/obj
/Lx.Tools/Lx.Tools.Reflection/bin
leoxia.snk

/Assemblies/Lx.Tools
