<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IgnoreDirectories" value="/dlr/Runtime/,\Mainsoft.Configuration\,\Mainsoft.Web\,\System.Windows.Forms.RTF\,/Microsoft.Build/Test/,\Microsoft.Build.Engine\Test\,\Mono.C5\,\mcs\class\System.ComponentModel.Composition.4.5\src\ComponentModel\"/>
  </appSettings>
</configuration>